html, body{
    height:99.99%;
    width:100%;
    margin: 0px; 
    padding: 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#map_canvas{
    width:100%;
    height:100%;
}

#mapContent{
    height:100%;
}

.site-infowindow {
    padding-left: 10px;
    padding-bottom: 10px;
}

.site-infowindow h5 {
    margin-bottom: 3px;
    font-weight: bold;
}
.site-infowindow h6 {
    margin-top: 3px;
    font-size: 11px;
}

.siteDetails .column {
    float: left;
    width: 50%;
    padding-bottom: 10px;
}

.siteDetails .detailItem {
    display: block;
}

.siteDetails .detailItem span {
    font-weight: bold;
}

.list-group-item p{
    display:inline;
}

.radio, .checkbox, ul {
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
    font-weight:normal;
    /* Disable highlighting*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.seriesID {cursor: pointer}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

/* BOX PLOTS */
.box {
  font: 10px sans-serif;
}

svg.box{
    float:left;
}

.left{
    float:left;
}

.right{
    float:right;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}


/* Glyphicons for collapsible panels*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar rect:hover {
    fill:brown;
}

.bar text {
  fill: #000;
}

line.tick { stroke: #cccccc; fill:none; shape-rendering: crispEdges;}



/* body*/

.panel-body{
   padding:0px;
}

/* Left Panel*/

#leftPanel .list-group{
    padding:5px 0px;
    margin:0px;
}

.CheckBoxLabel{
     /* Some browsers use different cursor notations*/
    cursor: pointer; 
    cursor: hand;
}
#leftPanel .list-group-item{
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border:0px;
    padding: 0px 15px;
}

#leftPanel li:hover{
    background:#ddd;
}

#leftPanel .panel, .row{
    border-radius:0px !important;
    margin:1px 1px !important;
}

.col-sm-3, .col-sm-9{
    padding:0px;
    height:100%;
    border-right: 1px solid #dddddd;
    overflow:auto;
}
.col-sm-3{
    overflow-y:auto;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
    height: -moz-calc(100% - 51px);
    height: -webkit-calc(100% - 51px);
    height: calc(100% - 51px);
    overflow: auto;
}

.navbar{
    margin-bottom:0px;
    height: 50px;
}

.nav-tabs{
    margin-top:0px;
}

#btnExportData{
    margin-right:26px;
}

.tab-content{
    height: -moz-calc(100% - 44px);
    height: -webkit-calc(100% - 44px);
    height:calc(100% - 44px);
}

.tab-pane{
    height:100%;
    width:100%;
}

#btnSetPlotOptions{
    float:right;
}

#datasetsTable tr {
    cursor: pointer;
}

#datasetsContent .table tbody tr:hover td,
#datasetsContent .table tbody tr:hover th{
  background-color: #f5f5f5;
}

.table tbody td,  .table thead th {
    white-space: nowrap;
}

table.dataTable {
    margin-bottom: 0px !important;
}

#statisticsTable tbody tr td:nth-child(2){
    text-align: right;
}

.dataTables_filter input[type="search"] {
    width: 350px;
    margin-top: 22px;
}

.tab-pane {
    padding: 3px;
}

#datasetsTable_info {
    float: right;
}

.cluster:not(:empty) {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.46);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
}

#datasetsTable_processing {
    height: 12px;
    font-size: 11px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
.ColVis {
	float: right;
	margin-bottom: 1em;
}

.ColVis_Button {
	position: relative;
	float: left;
	margin-right: 3px;
	padding: 3px 5px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	cursor: pointer;
	*cursor: hand;
    width: 100% !important;
}

.ColVis_MasterButton {
    margin-top: 1px;
    margin-right: 5px;
    font-family: "Times New Roman";
}

button.ColVis_Button::-moz-focus-inner {
	border: none !important;
	padding: 0;
}

.ColVis_text_hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

div.ColVis_collectionBackground {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 1100;
}

div.ColVis_collection {
	position: relative;
	background-color: #f3f3f3;
	padding: 3px;
	border: 1px solid #ccc;
	z-index: 1102;
    width: 240px !important;
    overflow-x: hidden;
    overflow-y: auto;
    height: 77%;
}

div.ColVis_collection button.ColVis_Button {
	background-color: white;
	width: 100%;
	float: none;
	margin-bottom: 2px;
}


div.ColVis_collection button.ColVis_Group {
	background: #dadada;
	border: 1px solid #bababa;
}


div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}


.disabled {
	color: #999;
}


button.ColVis_Button {
	text-align: left;
}

.table-container {
    max-height: 20%;
}



#btnExportData{
    float:right;
    display:inline;
    margin-top: 1px;
    margin-right: 20px;
}


#txtSearch{
    width:30%;
    display:inline;
    margin:5px;
}

.series-item-field {
    font-weight: bold;
}

.series-info-group {
    margin-bottom: 0;
}

.series-info-item {
    border: none;
    padding: 5px 15px;
}

#listBlocksContainer{
    height: 100%;
    border: 0px;
    margin-bottom: 0px;
}

#datePanel{
    float:right;
}
#leftPanel .list-group li.active{
    background:#a6cae9;
}


#lblSelectData{
    float:left;
}

.navbar > .container{
    margin-left: 15px;
}

.datepicker{
    text-align: center;
}

#visualizationContent{

    width:100%;
    overflow:hidden;
}

#graphArea {
    height: 100%;
    width: 100%;
}

#graphContainer {
    height: 100%;
    width: -moz-calc(100% - 307px);
    width: -webkit-calc(100% - 307px);
    width: calc(100% - 307px);
    float:left;
    padding-top: 5px;
}

#graphContainer .label{
    font-size: 100%;
    font-weight: normal;
}

#panel-right ul li{
    padding: 3px 15px;
}

#panel-right{
    background: white;
    position:absolute;
    right:0px;
    height:auto;
    width: 295px;
    float:right;
    margin-right: 3px;
    margin-top:3px;
    margin-bottom: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 3px;
    box-shadow: -5px 5px 10px #dddddd;
}

#panel-right .panel{
    min-height: 80px;
    border:1px solid #aaa;
    border-radius:4px 4px 0px 0px;
    padding-bottom: 3px;
    margin-bottom: 5px;
}


#panel-right .panel-heading{
    width:100%;
    background: #ddd;
}

#panel-right .glyphicon{
    top:0px;
}

#btnCollapseToggle{
    float: left;
    margin-left: -26px;
    margin-top: 6px;
    position: absolute;
    width: 10px;
    border:1px solid #aaa;
    border-right:0px;
    border-radius:4px 0px 0px 4px;
}


#summaryContainer{

}


#btnCollapseToggle:active, #btnCollapseToggle:focus, .close:active, .close:focus{
    outline:0px !important;
    -webkit-appearance:none;
}

#btnCollapseToggle span{
    margin-left:-5px;
}




#plotOptionsContainer td{
    border-top:0px;
    vertical-align: middle;
    padding-bottom: 2px;
}

#plotOptionsContainer tr td:first-child{
    text-align: right;
}

#plotOptionsContainer input{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#graphArea .alert {
    position: absolute;
    width: calc(100% - 310px);
    opacity:0.9;
}



#legendContainer{
  margin-bottom: 4px;
}

#legendContainer span{
    cursor: default;
}
#legendContainer font{
    font-size: 22px;
    line-height: 1;
}
/* Spinner icon */
.ring{
  margin:auto;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
  -webkit-animation: rotate 1s infinite linear; /* Safari and Chrome */
  animation: rotate 1.5s infinite linear;
  border-left: 5px solid rgba(0,100,180,1);
  border-bottom: 5px solid rgba(0,100,180,1);
  border-right: 5px solid rgba(0,100,180,1);
  border-top: 5px solid rgba(42,100,150, 1);
}

#graphArea .ring{
  position: absolute;
  display:none;
  top: calc((100% - 80px)/2);
  left: calc((100% - 300px)/2);
  margin:auto;
  width: 80px;
  height: 80px;
  z-index: 999;
  border-left: 15px solid rgba(100,148,224,1);
  border-bottom: 15px solid rgba(100,148,224,1);
  border-right: 15px solid rgba(100,148,224,1);
  border-top: 15px solid rgba(42,100,150, 1);
}

@-webkit-keyframes rotate /*Safari and Chrome*/
{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg)}
}

@keyframes rotate /*every other browser */
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}

#loadingScreen{
    background:#292929;
    position:absolute;
    height: calc(100% - 50px);
    width:100%;
    z-index:999;
}

.progress{
    position:absolute;
    margin-bottom: 0px;
    width: 350px;
    height:30px;
    top:calc((100% - 20px) / 2);
    left:calc((100% - 350px) / 2);
    padding: 5px;
    background-color: #1a1a1a;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

#progressBar{
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
}


