html, body{
    height:100%;
    width:100%;
    margin: 0px; 
    padding: 0px;
}

#map_canvas{
    width:100%;
    height:100%;
}

#mapContent{
    height:100%;
}

.list-group-item p{
    display:inline;
}

.radio, .checkbox, ul {
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
    font-weight:normal;
    /* Disable highlighting*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.seriesID {cursor: pointer}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

/* BOX PLOTS */
.box {
  font: 10px sans-serif;
}

svg.box{
    float:left;
}

.left{
    float:left;
}

.right{
    float:right;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}


/* Glyphicons for collapsible panels*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar rect:hover {
    fill:brown;
}



.bar text {
  fill: #fff;
}

/* ---------------------Scatter Plot---------------------------*/
.dot {
  stroke: #000;
}


/* ---------------------Area Chart-------------------------------*/
.area {
  fill: steelblue;
}


/* body*/

.panel-body{
   padding:0px;
}

/* Left Panel*/

#leftPanel .list-group{
    padding:5px 0px;
    margin:0px;
}

.CheckBoxLabel{
        /* Some browsers use different cursor notations*/
    cursor: pointer; 
    cursor: hand;
}
#leftPanel .list-group-item{
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border:0px;
    padding: 0px 15px;
}

#leftPanel .panel, .row{
    border-radius:0px !important;
    margin:1px 1px !important;
}

.col-sm-3, .col-sm-9{
    padding:0px;
    height:100%;
    border-right: 1px solid #dddddd; 
}
.col-sm-3{
    overflow-y:auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    height: calc(100% - 52px);
}

.navbar{
    margin-bottom:0px;
    height: 50px;
}

.nav-tabs{
    margin-top:0px;
}

#datasetsContent{

}


#datasetsContent .input[type]


#btnExportData{
    margin-right:26px;
}

.tab-content{
    height:calc(100% - 44px);
}

.tab-pane{
    height:100%;
    width:100%;
}

#datasetsContent .table tbody tr:hover td,
#datasetsContent .table tbody tr:hover th{
  background-color: #f5f5f5;
}

#datasetsContent .table{
    width:100%;
    height:calc(100% - 70px);
}

#datasetsContent .table tbody, .table thead{
    display:block;
}

#datasetsContent .table tbody{
    height:calc(100% - 40px);
    overflow:auto;
}

#datasetsContent .table-container{
    max-height: 80%;
}

#btnExportData{
    float:right;
    display:inline;
    margin-top: 1px;
    margin-right: 20px;
}


#txtSearch{
    width:30%;
    display:inline;
    margin:5px;
}

#listBlocksContainer{
    height:100%;
    border:0px;
}

#leftPanel .list-group li.active{
    background:#a6cae9;
}

#actionsPanel{
    margin: 10px 6px;
}

#actionsPanel input{
    margin-right:15px;  
}

#actionsPanel .btn-group{
    float:right
}


#lblSelectData{
    float:left;
}

.navbar > .container{
    margin-left:15px;
}


.datepicker{
    text-align:center;
}

#visualizationContent{
   height:calc(100% - 45);
   width:100%;
   overflow:hidden;
}

#graphArea{
    height: calc(100% - 45px);
    width: 100%;
}
#graphContainer{
    height: 100%;
    width: calc(100% - 300px);
    float:left;
    /*display:none;*/
}

#summarystats{
    height: calc(100% - 20px);
    width: 295px;
    float:right;
    margin-right: 5px;
    display:none;
}

#summarystats .panel{
    border:1px solid #dddddd;
    box-shadow: -5px 5px 10px #dddddd;
    padding: 3px;
}

#summarystats .panel-heading{
    width:100%;
}
#summaryContainer p {
    text-align: right;
}

#summaryContainer ul{
    /*width:50%;*/
}

#summarystats ul li{
    padding: 3px 15px;
}

#legendContainer{
        margin-bottom: 4px;
}
/* Spinner icon */
.ring{
  margin:auto;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
  -webkit-animation: rotate 1s infinite linear; /* Safari and Chrome */
  animation: rotate 1.5s infinite linear;
  border-left: 5px solid rgba(42,100,150,.25);
  border-bottom: 5px solid rgba(42,100,150,.25);
  border-right: 5px solid rgba(42,100,150,.25);
  border-top: 5px solid rgba(42,100,150, 1);
}

#graphArea .ring{
  position: absolute;
  display:none;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  margin:auto;
  width: 80px;
  height: 80px;
  z-index: 999;
  border-left: 15px solid rgba(42,100,150,.50);
  border-bottom: 15px solid rgba(42,100,150,.50);
  border-right: 15px solid rgba(42,100,150,.50);
  border-top: 15px solid rgba(42,100,150, 1);
}

@-webkit-keyframes rotate /*Safari and Chrome*/
{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg)}
}

@keyframes rotate /*every other browser */
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}
