{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Time Series Analyst</title>
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}" type="text/css" />

        <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="{% static 'js/underscore.js' %}"></script>
        <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
        <script src="{% static 'js/d3.v3.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/tsascript.js' %}"></script>
{#        <script src="{% static 'js/init.js' %}"></script>#}
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>