<div class="panel-toolbar-left">
    <span data-enabled="true" id="btnLeftPanelCollapse" class="rotate toolbar-left-button">Filters</span>
</div>
<div class="panel-group">
    <div class="panel-toolbar-top">
        <span id="btnHideLeftToolbar" class="glyphicon glyphicon-arrow-left toolbar-top-button" title="Hide"></span>
        <span id="btnClearAllFilters" class="glyphicon glyphicon-remove-circle toolbar-top-button" title="Clear all filters"></span>
    </div>
    <div class="facets-container">

    </div>
</div>