<div class="tab-pane " id="visualizationContent">
   <div id="actionsPanel">
       <span>Begin Date: </span><input type="text" class="datepicker" data-date-format="mm/dd/yyyy">
       <span>End Date: </span><input type="text" class="datepicker" data-date-format="mm/dd/yyyy">
       <button type="button" class="btn btn-default"> Summary Statistics</button>
       <button type="button" class="btn btn-primary"> Set Plot Options</button>
   </div>
   <div class="graphContainer" id="graphContainer"></div>
   <div style="clear:both"></div>
</div>